.footer {
    background-color: white;
    min-height: 400px;
    padding: 20px;
}

.credits {
    background-color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
